@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
     margin: 0;
     font-family: 'Poppins', sans-serif;
}

.header {
     background-color: #282c34;
     color: white;
     padding: 20px;
     text-align: center;
     animation: fadeIn 2s ease-in-out;
}

.header-content {
     max-width: 1200px;
     margin: 0 auto;
}

.header-title {
     font-size: 2.5em;
     margin: 0.5em 0;
     animation: slideIn 1s ease-in-out;
     text-decoration: none;
     color: #61dafb;
     font-style: italic;
}

.header-nav {
     position: relative;
}

.menu-icon {
     display: none;
     font-size: 2em;
     cursor: pointer;
}

.nav-links {
     list-style: none;
     padding: 0;
     margin: 1em 0 0 0;
     display: flex;
     justify-content: center;
     gap: 20px;
}

.nav-links li {
     display: inline;
}

.nav-links li a {
     color: white;
     text-decoration: none;
     font-weight: 600;
     transition: color 0.3s ease;
}

.nav-links li a:hover {
     color: #61dafb;
}

.nav-links.open {
     display: block;
     position: absolute;
     top: 100%;
     left: 0;
     right: 0;
     background-color: #282c34;
     text-align: center;
}

@keyframes fadeIn {
     from {
          opacity: 0;
     }
     to {
          opacity: 1;
     }
}

@keyframes slideIn {
     from {
          transform: translateY(-20px);
          opacity: 0;
     }
     to {
          transform: translateY(0);
          opacity: 1;
     }
}

/* Media Queries */
@media (max-width: 1200px) {
     .header-title {
          font-size: 2.2em;
     }
}

@media (max-width: 992px) {
     .header-title {
          font-size: 2em;
     }
}

@media (max-width: 768px) {
     .header-title {
          font-size: 1.8em;
     }

     .nav-links {
          flex-direction: row;
          gap: 10px;
     }
     .header-content{
          display: flex;
          justify-content: space-between;
          align-items: center;
          /* gap: 100px; */
     }
     .nav-links {
          display: none;
     }

     .menu-icon {
          display: block;
     }
}

@media (max-width: 576px) {
     .header-title {
          font-size: 1.5em;
     }

     .nav-links {
          display: none;
     }

     .menu-icon {
          display: block;
     }
}